/* xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px, */

/* mobile version */
@media screen and (max-width:576px) {
    .banner {
        flex-direction: column;
        margin-top: 25px;
        border-radius: 20px;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text h1 {
        font-size: 1em;
        line-height: 30px;
    }

    .banner-text p {
        font-size: 14px;
        line-height: 15px;
    }

    .banner-image {
        height: 40%;
    }

    .banner-image img {
        object-fit: contain;
    }

    .banner-text button {
        font-size: 1em;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 15PX;
    }

    .transfer-card {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        row-gap: 25px;

    }

    main {
        flex-direction: column;
        margin: 0px auto;
    }

    aside {
        background-color: #fff;
        margin: 0 auto;
    }

    .left-nav-ul {
        align-items: center;
        justify-content: space-evenly;
    }

    .left-nav-ul li {
        border: 1px solid #E8E8E8;
        width: auto;

    }

    .card-image {
        height: 50%;
    }

    .card-image img {
        object-fit: cover;

    }

    .card-inner-div {

        width: 80%;
        margin: 0px auto
    }

    .view-button {
        display: none;
    }

    footer {
        margin-top: 50px;

    }

    .footer-text h1 {
        margin: 25px 0px;
        font-size: 2em;
    }

    .footer-nav-ul {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav-ul li {
        margin-bottom: 15px;
    }

    .social-logo {
        width: 90%;
    }

    .social-logo img {
        width: 30px;
    }

    .match-card{
        grid-template-columns: repeat(1,1fr);
    }


}

/* tab version */
@media screen and (min-width:577px) and (max-width:768px) {
    .banner-text h1 {
        font-size: 3em;
        font-weight: 600;
        line-height: 70px;
    }

    main {
        flex-direction: column;
    }

    .banner-image img {
        object-fit: contain;
    }

    aside {
        width: 100%;
        height: 150px;
        background-color: #fff;
    }

    .left-nav {
        width: 100%;
    }

    .left-nav-ul {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .left-nav-ul li {
        margin: 15px;
        border: 1px solid #E8E8E8;
    }

    .transfer-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-inner-div {
        height: 400px;
    }

    .card-image img {
        object-fit: cover;
    }

    .view-button button {
        display: block;
    }

    .footer-nav {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer-nav-ul {
        width: 88%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer-nav-ul li {
        margin-right: 5px;
    }
}